/**********************
   If nav bar exist
 **********************/
body.body-with-nav-bar {
  padding-bottom: 20px;
}
.white,
.white a {
  color: #fff;
}

.black,
.black a{
  color:#333;
}
body {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  /**********************
     General
   **********************/
  background: #cabdff;
}
body h1,
body h2,
body h3 {
  font-family: 'Open Sans Condensed', 'Nanum Gothic', sans-serif;
}
body #container {
  width: 900px;
  margin: auto;
}
body .container-full {
  margin: 0 auto;
  width: 100%;
}
body #content {
  min-height: 425px;
  padding: 20px;
  background: #97e6b3 url('/images/background.png?58a0aa3d93e8f1605130284b0b6e6ec5') top repeat-x;
  border-radius: 15px;
  margin: auto;
  color: white;
  overflow: auto;
}
body #right_column {
  background-color: inherit;
  margin-top: -7px;
  margin-right: -1px;
  padding-bottom: 20px;
  border-radius: 6px;
}

body #right_navbar_box{
  background-color: #F2F07C;
  border-radius: 6px;

}
body #right_column .list_element{
  margin-left : 10px;
}

body #right_column > #sidebar > .navbar-collapse > ul > li > a:hover{
  background-color: #F2F07C;
}
body #left_column {
  /*width: 625px;*/
}
body #left_column input {
  color: #444444;
}
body div.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .8;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
}
body .unicon-logo {
  height: 40px;
  margin-top: -14px;
}
body #logo.size_large {
  text-align: center;
  height: 90px;
}
body #logo .logo_anchor {
  overflow: hidden;
  text-indent: -999em;
  height: 100%;
  background-repeat: no-repeat;
}
body .sign-in-logo {
  height: 90%;
}
body .navbar-btn {
  margin-top: 23px;
}
body #tabs_outer_container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2px 20px 0 0;
  width: 225px;
}
body #header {
  width: 900px!important;
  -webkit-font-smoothing: antialiased;
  height: 71px;
  margin: auto;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
body .btn-sign-in {
  height: 25px;
  min-width: 100px;
  text-align: center;
  line-height: 1.6;
  font-size: 15px;
  border-radius: 2px;
  margin-right: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  text-decoration: none!important;
}
body .chrome {
  cursor: pointer;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 14px;
  height: 25px;
  padding: 4px 7px 5px 7px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  border-color: #9da6af;
  background: #9da6af;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
}
body .blue {
  border-color: #529ecc;
  background: #529ecc;
}
body .on_dark {
  background: rgba(255, 255, 255, 0.25);
  border-color: transparent;
}
body .sign-in-search {
  margin-top: 30px;
  padding-right: 60px;
}
body .sign-in-search .search-query {
  opacity: 0.5;
}
body .search-query:focus {
  opacity: 1;
}
body .v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -113px;
  width: 260px;
  height: 200px;
}
body .sign-in-input {
  color: #444444;
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: 0;
  background: 0;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}
body .btn-sign-in-big {
  margin-right: 0px;
  padding: 0;
  margin-top: 20px;
  line-height: 32px;
  height: 40px;
  font-size: 16px;
}
body .form_row {
  position: relative;
  border-top: 1px solid #e3e3e3;
}
body .navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}
body .navbar-content {
  width: 900px;
  margin: 0 auto;
}
body .navbar-brand,
body .navbar-nav li a {
  line-height: 40px;
  padding-top: 0;
}
body .navbar-custom {
  background: #cabdff;
  border-color: #cabdff;
  margin-bottom: 0px;
  margin: auto;
}
body button.nav-not-li,
body form.nav-not-li {
  margin-top: 17px;
}
body .navbar-right-search {
  margin-right: 15px !important;
}
body input.search-query {
  padding-left: 26px;
}
body form.form-search {
  position: relative;
}
body form.form-search:before {
  display: block;
  width: 14px;
  height: 14px;
  content: "\e003";
  font-family: 'Glyphicons Halflings';
  background-position: -48px 0;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: .5;
  z-index: 1000;
  margin-right: 20px;
}
body .challenge-schedule-date {
  font-size: 0.5em;
}
body .challenge-info {
  background: #fff;
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  color: #444444;
  font-size: 14px;
  border-radius: 5px;
  word-wrap: break-word;
  border-radius: 6px;
}
body .challenge-info-btn {
  margin-bottom: 15px;
}
body h2 {
  margin-top: 14px;
}
body .challenge-info-thumbnail {
  width: 90px;
  height: auto;
  margin-bottom: 0px;
}
body .challenge-info-right {
  margin-top: 4px;
}
body .challenge-info-right > div button {
  margin-bottom: 10px;
}
body .challenge-info-header {
  margin-top: 0px;
}
body .github-icon {
  width: 20px;
  height: auto;
}
body #posts {
  list-style-type: none;
  padding: 0;
}
body .post-edit-btn {
  margin-right: 5px;
}
body .post {
  position: relative;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body .post-container {
  margin: 0 0 20px 0;
}
body .post-avatar {
  display: block;
  width: 64px;
  overflow: visible;
  clear: both;
  float: left;
  background-color: #00000;
  text-decoration: none;
  color: #444;
}
body .post-wrapper {
  background: #fff;
  clear: both;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  color: #444444;
  font-size: 14px;
  border-radius: 5px;
  word-wrap: break-word;
  border-radius: 6px;
  margin-top: 20px;
}
body .item {
  width: 25%;
}
body .item.w2 {
  width: 50%;
}

body .footer {
  margin-top: 1.9em;
  line-height: 0.9em;
}

/*navbar  design*/
.navbar-default {
  background-color: #cabdff;
  border-color: #cabdff;
}
.navbar-default .navbar-brand {
  font-size:24px;
  color: #333;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #333;;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #c3c8fd;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #c3c8fd;
}
.navbar-default .navbar-toggle {
  border-color: #c3c8fd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c3c8fd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #c3c8fd;
  }

  .navbar-collapse > ul > li > a:hover{
    text-decoration: none;
  }
}


/* offcanvas */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }
}